@import "tailwindcss";

:root {
	--color-primary: #4f46e5;
	--color-secondary: #64748b;
	--color-success: #16a34a;
	--color-warning: #f59e0b;
	--color-error: #dc2626;
	--color-info: #0284c7;
}

.dark {
	--color-background: #0f172a;
	--color-surface: #020617;
}